.cart-page-container{
    border-top: 1px solid #E5E5E5;
}
.cart-page-title{
    font-size: 32px;
    font-weight: 700;
    margin: 80px 0 55px 0;
}
.cart-item-brand{
    font-size: 30px;
    font-weight: 600;
}
.cart-item-name{
    font-size: 30px;
    margin: 10px 0 15px 0;
}
.cart-item-price{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.cart-item{
    padding: 24px 0 24px 0;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-item-attribute{
    justify-content: flex-start;
}
.cart-item-gallery{
    display: flex;
}
.cart-item-quantity{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;
    font-size: 24px;
}
.cart-item-image{
    width: 200px;
}
.cart-item-image img:nth-child(1){
    height: 100%;
    width: 200px;
}
.cart-order-info{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    font-size: 24px;
    margin-top: 32px;
    width: fit-content;
}
.order-button{
    background-color: #5ECE7B;
    width: 279px;
    height: 43px;
    margin-top: 16px;
    border: 0px;
    color: #FFFFFF;
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: 600;
}
.cart-previous-item-button{
    position: relative;
    left: 128px;
    bottom: 45px;
}
.cart-next-item-button{
    position: relative;
    left: 136px;
    bottom: 45px;
}